@model PagedList.IPagedList<MettSite.Models.MettOrder>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "MettOrders", FormMethod.Get))
{
    <p>
        Filterung nach Besteller: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Besteller", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Anzahl Mettbrötchen
        </th>
        <th>
            Anzahl Tartarbrötchen
        </th>
        <th>
            Anzahl Getränke
        </th>
        <th>
            @Html.ActionLink("Bestelldatum", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Änderungsdatum Mettshop
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.MettOrderDate == DateTime.Today)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MettBunNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TartarBunNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeverageNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MettOrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MettShop.ChangeDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MettBunNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TartarBunNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeverageNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MettOrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MettShop.ChangeDate)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

